{
   "Plex": {
      "Url": "https://plex.domain.com",
      "token": "XXXXXXXXXXXXXXXXXXXX"
   },
   "Tautulli": {
      "Url": "https://tautulli.domain.com",
      "APIKey": "XXXXXXXXXXXXXXXXXXXX"
   },
   "SABnzbd": {
      "Url": "https://sabnzbd.domain.com",
      "APIKey": "XXXXXXXXXXXXXXXXXXXX"
   },
   "TMDB" : {
      "APIKey" : "XXXXXXXXXXXXXXXXXXXX"
   },
   "Webhooks": {
      "StorageInfo": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "CurrentStreams": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "SABnzbd": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "LibraryStats": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "MonthlyStats": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "Radarr": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "RecentlyAdded": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "Overseerr": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "ServerIssues": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "Top5": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "Sonarr": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "WatchingListening": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "PopularOnPlex": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX",
      "ServiceStatus": "https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXXX"
   }
}